@page
@model RazorSample.Pages.Cinema.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- Page top section -->
<section class="page-top-section set-bg" data-setbg="/Client/img/page-top-bg/4.jpg">
    <div class="page-info">
        <h2>Đăng nhập</h2>
        <div class="site-breadcrumb">
            <a href="">Trang chủ</a>
            <span>Đăng nhập</span>
        </div>
    </div>
</section>
<!-- Page top end-->
<!-- Login page -->
<section class="container">
    <div class="row center">
        <div class="col-md-4">
            <form method="post" function=check()>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Tài khoản</label>
                    <input asp-for="Login.Account" class="form-control" />
                    <span asp-validation-for="Login.Account" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Mật khẩu</label>
                    <input asp-for="Login.Password" class="form-control" />
                    <span asp-validation-for="Login.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Login page -->

