@page
@model RazorSample.Pages.Cinema.MemberModel
@{
    ViewData["Title"] = "Member";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- Page top section -->
<section class="page-top-section set-bg" data-setbg="/Client/img/page-top-bg/4.jpg">
    <div class="page-info">
        <h2>Thành viên</h2>
        <div class="site-breadcrumb">
            <a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>  /
            <span>Thành viên</span>
        </div>
    </div>
</section>
<!-- Page top end-->