@page
@model RazorSample.Pages.Cinema.Sign_upModel
@{
    ViewData["Title"] = "Đăng kí";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- Page top section -->
<section class="page-top-section set-bg" data-setbg="/Client/img/page-top-bg/4.jpg">
    <div class="page-info">
        <h2>Đăng ký</h2>
        <div class="site-breadcrumb">
            <a href="">Trang chủ</a>
            <span>Đăng ký</span>
        </div>
    </div>
</section>
<!-- Page top end-->
<!-- Login page -->
<!-- <section class="container">
    <div class="row center">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Tài khoảng</label>
                    <input asp-for="signup.Account" class="form-control" />
                    <span asp-validation-for="signup.Account" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Mật khẩu</label>
                    <input asp-for="signup.Password" class="form-control" />
                    <span asp-validation-for="signup.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Đăng nhập" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section> -->
<!-- Login page -->